# Application
web/static/*
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/advanced-cache.php
web/app/object-cache.php
extensions/*
!extensions/.gitkeep

# WordPress
web/wp
web/.htaccess

# phpdoc
.phpdoc
web/docs

# Dotenv
.env
.env.*
!.env.example

# Components lib
cache/*
var/*

# Composer
vendor/*
!vendor/.gitkeep

# Misc
*.log
*.sublime-workspace
*.sublime-project
*.vscode
*.cache
.phpdoc
node_modules
