# Application
web/static/*
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/advanced-cache.php
web/app/object-cache.php
extensions/*
!extensions/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Misc
*.log
*.sublime-workspace
*.sublime-project
*.vscode
node_modules

